h2 {
    text-align: center;
}

#map {
    width: 90%;
    height: 90vh;
    border: 1px solid gray;
    margin: auto;
}

.temperature-label {
    font-size: 1.25em;
    font-weight: bold;
    display: inline;
    padding: 0.3em;
    border: 1px solid gray;
    background-color: silver;
    text-shadow:
        -1px -1px 0 white,
        -1px -1px 0 white,
        -1px -1px 0 white,
        -1px -1px 0 white,  
}

.negative-temp {
    background-color: blue;
}
.positive-temp {
    background-color: green;
}

.zereo-temp {
    background-color: grey;
}

.text-label div {
    font-size: 1.25em;
    font-weight: bold;
    display: inline;
    padding: 0.3em;
    border: 1px solid gray;
    background-color: silver;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}
